<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="SHORTCUT ICON" href="__STATIC__/resource/images/logo.ico">
    <title></title>

    <!-- Bootstrap -->
    <link href="__STATIC__/resource/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="__STATIC__/resource/js/html5shiv.min.js"></script>
    <script src="__STATIC__/resource/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="col-md-offset-1">
    <ul class="media-list">
        <?php if (isset($data)){ ?>
        {volist name="data.lists" id="vo"}
        <li class="media col-md-8" style="margin-top: 10px">
            <div class="well well-sm">
            {$vo.ms_title>=1?
                '<span class="glyphicon glyphicon-ok-circle text-success pull-left" style="font-size: 60px;margin: 30px 8px 0 0"></span>':
                '<span class="glyphicon glyphicon-remove-circle text-danger pull-left" style="font-size: 60px;margin: 30px 8px 0 0"></span>'
                }
            <div class="media-body">
                <blockquote style="margin-top: 10px">
                {$vo.ms_title>=1?'<h3 class="media-heading text-success">成功消息</h3>':'<h4 class="media-heading text-danger">失败消息</h4>'}
                    <p>{$vo.ms_body}</p>
                    <footer>{:date('Y-m-d H:i:s',$vo.ms_time)}</footer>
                </blockquote>
            </div>
            </div>
        </li>
        {/volist}
        <?php } ?>
    </ul>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__STATIC__/resource/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__STATIC__/resource/js/bootstrap.min.js"></script>

</body>
</html>